# NodeJS
frontend/node_modules

# Configuration (except pyproject.toml)
*.ini

# Documentation (except README.md)
*.md
!README.md

# Hidden files and directories (except .agents/)
.*
!.agents/
**/.venv
__pycache__

# Unneded files and directories
/dev_config/
/docs/
/evaluation/
/tests/
CITATION.cff
